fastapi
uvicorn
google-generativeai
faiss-cpu
numpy
pillow
python-dotenv
opencv-python-headless
insightface
python-multipart
llama-index
llama-index-vector-stores-faiss
llama-index-embeddings-gemini
onnxruntime